<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <link rel="stylesheet" href="static/css/file_selector.css">
    <script src="static/js/file_selector.js" defer></script>

    <title>KU BDI Collection Processor</title>
</head>
<body>
    <div style="display:flex; flex-direction: row; align-items: center; border: 1px solid black;">
        <img src="static/images/ku_bdi_logo.jpg" style="width: 100px; height: 100px; margin: 10px;">
        <h1>KU BDI Collection Form Processing</h1>
    </div>

     <div style="width: 30%;">
         <h2>Step 1: File Selection</h2>
         <div style="margin-bottom: 10px;">
             <button onclick="uploadFiles()">Begin Processing</button>
             <button onclick="handleFilesSelected()">Clear Selections</button>
             <label>Files Selected: </label>
             <label id="file-selection-count-label">0</label>
         </div>
         <div id="file-selection-div">
             <form action="/file-selector" method="post" enctype="multipart/form-data">
                 <input type="file" id="file-selector-input" name="file" accept="image/*" style="display:none"/>
                 <input type=submit value=Upload>
             </form>

             <div id="file-selection-list">
                 <h5>Drag and drop files or click to browse</h5>
             </div>
         </div>
     </div>
</body>

</html>