<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="static/css/index.css">

    <title>KU BDI Collection Processor</title>
</head>

<body>
    <div style="display: flex; flex-direction: row; align-items: center; border: 1px solid black;">
        <img src="static/images/ku_bdi_logo.jpg" style="width: 100px; height: 100px; margin: 10px;">
        <h1>KU BDI Collection Form Processing</h1>
    </div>

    <div style="margin-top: 45px;">
        <div style="margin: 0 auto; width: fit-content;">
            <a href="/file-selector?id={{ instance_id }}" class="control-button">Start Job</a>
            <a href="/job-statuses" class="control-button">View Job Statuses</a>
            <p>Instance ID: {{ instance_id }}</p>
        </div>
    </div>
</body>
</html>