table {
    border: 2px solid black;
    border-collapse: collapse;
}

td {
    border-bottom: 2px solid black;
}

.corrections-box {
    width: 100%;
    min-width: 350px;
    box-sizing: border-box;
}

.copy-button {
    white-space: nowrap;
}
