on:
  push:
    branches:
      - 'release/**'
    tags:
      - "v*.*.*"

jobs:
  build-installer:
    strategy:
      matrix:
        os: ['windows-latest', 'macos-latest']
    runs-on: ${{ matrix.os }}
    steps:
      - name: Build Executable
        uses: sayyid5416/pyinstaller@v1
        with:
          python_ver: '3.12'
          spec: 'eagle_eye.spec'
          requirements: 'requirements.txt'
          upload_exe_with_name: ${{ github.ref_type == 'tag' && 'Eagle Eye.exe' || '' }}
